
.container {
  display: flex;
  flex-direction: column;
}

.main {
  height: calc(100vh - 5rem);
  width: 100vw;
  overflow: auto;
  
  display: flex;
}

.leftSide{
  height: 100%;
  width: 30%;
  padding: 1rem;
}

.leftSide img{
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 0 lightgrey;
}

.rightSide{
  height: 100%;
  width: 70%;
  padding-top: 5rem;

  display: flex;
  justify-content: center;
}

.rightSide h3{
  padding-left: 1rem;
}
