
.container{
    height: 5rem;
    width: 100vw;
    background-color: #111;
    padding: 0 1rem;
    border-bottom: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
}

.navLink{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}