
.container{
    display: flex;
    flex-direction: column;
}

.main{
    height: calc(100vh - 5rem);
    width: 100vw;
    overflow: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listedItem {
    list-style: none;
    margin: 1rem 0;
}

.listedItem span {
    background-color: yellow;
    padding: 0 1rem;
    margin-right: 0.5rem;
}